doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/bootstrap3.css")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/main.css")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    title Axit
  body

    // Start Navbar
    
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#test' aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Ax#[span it]
        // Collect the nav links, forms, and other content for toggling
        #test.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Features
            li
              a(href='#') About
            li
              a(href='#') Pricing
            li
              a(href='#') Reviews
            li
              a(href='#') Contact
    // End Navbar
    
    // Start Header
    
    .header
      .overlay
        .container
          .row.centering-vh
            .col-md-6
              h1.text-center-xs Ax#[span it]
              p.lead.text-center-xs modern axure template #[br] for beautiful prototypes
              //- hr
              p.lorem.text-center-xs Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi dolor nemo, tempora magni sapiente eum ipsum veniam blanditiis sunt #[br] illo quasi quae sunt aspernatur omnis
              button Download
            .col-md-6
              form.center-block
                h2 Try Your #[span Free] Trail Today 
                input(class="form-control" type="text" placeholder="Name")
                input(class="form-control" type="email" placeholder="Email")
                input(class="form-control" type="passowrd" placeholder="Password")
                input(class="btn btn-block" type="submit" value="Get Started")
        
    // End Header
    
    // Start Social Media 

    .social-section
      .container
        .row
          .col-md-5
            h4 Social Media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quae recusandae non dolor libero!
          .col-md-7
            i.fab.fa-facebook-f.fa-3x.fa-fw
            i.fab.fa-twitter.fa-3x.fa-fw
            i.fab.fa-google-plus-g.fa-3x.fa-fw
            i.fab.fa-pinterest.fa-3x.fa-fw
            i.fab.fa-instagram.fa-3x.fa-fw
            i.fab.fa-stumbleupon.fa-3x.fa-fw
            i.fa.fa-rss.fa-3x.fa-fw

    // Start Social Media 

    // Start Tabs Section

    section.tabs
      .container
        .row
          .col-md-2
            ul.list-unstyled.tab-switch
              li.selected(data-class="tab-one") Tab 1
              li(data-class="tab-tow")  Tab 2
              li(data-class="tab-three") Tab 3
          .col-md-6
            .tabs-content
              .tab-one
                h3 Tab With Soft Transitioning Effect 1
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos perspiciatis facilis illo tempora in deserunt reiciendis delectus accusamus eveniet. Porro veritatis neque doloribus sed, possimus eaque?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi culpa corrupti molestiae impedit qui illum esse alias inventore.
                button Download
              .tab-tow
                h3 Tab With Soft Transitioning Effect 2
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos perspiciatis facilis illo tempora in deserunt reiciendis delectus accusamus eveniet. Porro veritatis neque doloribus sed, possimus eaque?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi culpa corrupti molestiae impedit qui illum esse alias inventore.
                button Download
              .tab-three
                h3 Tab With Soft Transitioning Effect 3
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos perspiciatis facilis illo tempora in deserunt reiciendis delectus accusamus eveniet. Porro veritatis neque doloribus sed, possimus eaque?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi culpa corrupti molestiae impedit qui illum esse alias inventore.
                button Download
          .col-md-4
            img(class="img-responsive center-block" src="imges/home.png", alt="")

    // End Tabs Section

    // Start Sublist Section

    .sublist
      .container
        .row
          .col-md-6
            img(class="img-responsive center-block" src="imges/sublist.png", alt="")
          .col-md-6
            .list-info
              h3.head-border Sublist Section
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab, iure blanditiis ducimus saepe aperiam dicta consequuntur facere earum molestiae temporibus, eius cupiditate velit eveniet eos reiciendis!
              .list-icon
                i.fa.fa-cloud.fa-lg
                .info
                  h4 Download
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolore quia deserunt vero? Quod nobis id nemo maiores.
              .list-icon
                i.fa.fa-cloud.fa-lg
                .info
                  h4 Upload
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias itaque libero expedita voluptatum eius, sapiente nostrum illo aperiam nulla aspernatur omnis tempora saepe? Ipsum minus inventore molestias consequuntur.

    // End Sublist Section

    // Start Standard Picture

    .standard-picture
      .container
        .row
          .col-md-6
            .list-info
              h3.head-border Standard Picture
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab, iure blanditiis ducimus saepe aperiam dicta consequuntur facere earum molestiae temporibus, eius cupiditate velit eveniet eos reiciendis facere earum molestiae temporibus, eius cupiditate velit eveniet eos reiciendis!
              .list-icon
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolore quia deserunt vero? Quod nobis id nemo maiores.
          .col-md-6
            img(class="img-responsive center-block" src="imges/standard.png", alt="")

    // End Standard Picture

    // Start This Is Awesome

    .awesome.text-center
      .container
        h2.h1.head-border Why This Is Awesome
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .row
          .col-md-4
            i.far.fa-lightbulb.fa-2x
            h3 Thoughtful Design
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, libero officiis? Non nulla aperiam ex. Placeat repudiandae ex harum id nisi quibusdam, quo hic saepe omnis ab aliquam veritatis quae?
          .col-md-4
            i.fa.fa-keyboard.fa-2x
            h3 Well Crafted
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, libero officiis? Non nulla aperiam ex. Placeat repudiandae ex harum id nisi quibusdam, quo hic saepe omnis ab aliquam veritatis quae?
          .col-md-4
            i.fa.fa-home.fa-2x
            h3 Easy To Customize
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, libero officiis? Non nulla aperiam ex. Placeat repudiandae ex harum id nisi quibusdam, quo hic saepe omnis ab aliquam veritatis quae?

    // End This Is Awesome

    // Start Pricing Section

    .price-option.text-center
      .container
        h2.h1.head-border Pricing Option
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .row
          .col-md-4
            .price-box
              h3 Basic
              .option
                span.price #[span.usd $]0 
                span.period Free For Life
              ul.list-unstyled
                li 1 GB Of Space
                li 10 GB Of Bandwidth
                li 3 website
                li basic coustomization
                li wordpress integration
                li email support
          .col-md-4
            .price-box
              h3 Professional
              .option
                span.price #[span.usd $]19 
                span.period Monthly Payment
              p Our Most Popular
              ul.list-unstyled
                li 5 GB Of Space
                li 50 GB Of Bandwidth
                li 12 website
                li Advanced coustomization
                li wordpress integration
                li email support
          .col-md-4
            .price-box
              h3 Enterprise
              .option
                span.price #[span.usd $]70 
                span.period Monthly Payment
              ul.list-unstyled
                li Unlimited Space
                li Unlimited Bandwidth
                li 100 website
                li Advanced coustomization
                li wordpress integration
                li 24/7 Customer support

    // End Pricing Section

    // Start Testimonials Section

    .testimonials
      .container
        h2.h1.head-border.text-center What Our Customers Are Saying
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .row
          .col-md-4
            p.client-say Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vel accusamus provident autem, rerum deserunt tenetur sequi veritatis quia cupiditate quis quidem eveniet beatae voluptas nostrum Perferendis at odit quae?
            .media
              .media-left
                img.media-object.img-thumbnail.img-circle(src='imges/avatar.png' alt='')
              .media-body
                h4.media-heading Jeremy H. 
                p Manager
          .col-md-4
            p.client-say Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vel accusamus provident autem, rerum deserunt tenetur sequi veritatis quia cupiditate quis quidem eveniet beatae voluptas nostrum Perferendis at odit quae?
            .media
              .media-left
                img.media-object.img-thumbnail.img-circle(src='imges/avatar.png' alt='')
              .media-body
                h4.media-heading Johan S.
                p Freelance
          .col-md-4
            p.client-say Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vel accusamus provident autem, rerum deserunt tenetur sequi veritatis quia cupiditate quis quidem eveniet beatae voluptas nostrum Perferendis at odit quae?
            .media
              .media-left
                img.media-object.img-thumbnail.img-circle(src='imges/avatar.png' alt='')
              .media-body
                h4.media-heading Susan W. 
                p Photographer

    // End Testimonials Section


    // Start Stylish Section

    .stylish.text-center
      .overlay
        .container
          h2.h1.head-border Stylish Axure Design
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, iusto ut repudiandae modi nesciunt voluptatum doloremque?
          button Download


    // End Stylish Section

    // Start Contact-Us Section

    .Contact
      .container
        h2.h1.head-border.text-center Contact Us
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .row
          form
            .col-md-6
              input(class="form-control input-lg" type="text" name="username" placeholder="name")
              input(class="form-control input-lg" type="email" name="email" placeholder="email")
              input(class="form-control input-lg" type="text" name="subject" placeholder="subject")
            .col-md-6
              textarea(class="form-control input-lg" name="", cols="0", rows="6" placeholder="Message")
        button Send Message

    // End Contact-Us Section



    // Start Footer

    footer
      i.fab.fa-facebook-f.fa-fw
      i.fab.fa-twitter.fa-fw
      i.fab.fa-google-plus-g.fa-fw
      i.fab.fa-pinterest.fa-fw
      i.fab.fa-instagram.fa-fw
      i.fab.fa-stumbleupon.fa-fw
      i.fa.fa-rss.fa-fw
      p &copy; 2015 Axure Themes


    // End Footer





    script(src="JS/jquery-3.4.1.min.js")
    script(src="JS/bootstrap3.min.js")
    script(src="JS/main.js")