
/* Start Section Social */

.social-section {
  background-color: $Other-color;
  padding: 30px;
  @extend %boxShadow;
  h4 {
    font-weight: bold;
    margin-bottom: 3px;
  }
  p {
    color: #A9AAAC;
    line-height: 1.3;
  }
  i {
    color: #A9AAAC;
    margin: 15px;
    @extend %Transition;
    cursor: pointer;
  }
  .fa-facebook-f {
    &:hover {
      color: #3b5998;
    }
  }
  .fa-twitter {
    &:hover {
      color: #1daaf2;
    }
  }
  .fa-google-plus-g {
    &:hover {
      color: #dd4b39;
    }
  }
  .fa-pinterest {
    &:hover {
      color: #bd081c;
    }
  }
  .fa-instagram {
    &:hover {
      color: #405de6;
    }
  }
  .fa-stumbleupon {
    &:hover {
      color: #eb4924;
    }
  }
  .fa-rss {
    &:hover {
      color: #f26522;
    }
  }
}


/* End Section Social */


/* Start Section Tabs */

section.tabs {
  background-color: $gray-color;
  padding: 80px 0;
  ul.tab-switch {
    text-align: center;
    li {
      width: 130px;
      height: 110px;
      line-height: 110px;
      background-color: #333;
      color: $Other-color;
      border-bottom: 1px solid $Other-color;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
      &.selected, &:hover {
        background-color: $main-color;
      }
    }
  }
  .tabs-content {
    div:not(.tab-one) {
      display: none;
    }
    .tab-one, .tab-tow, .tab-three {
      h3 {
        font-weight: bold;
        margin-bottom: 40px;
        margin-top: 0;
      }
      p {
        line-height: 1.8;
        margin-bottom: 20px;
        color: $Second-color;
      }
      button {
        padding: 10px 25px;
        background-color: $main-color;
        border: 1px solid $main-color;
        color: $Other-color;
        border-radius: 5px;
        margin-top: 20px;
      }
    }
  }
  img {
    margin-top: 30px;
  }
} 


/* End Section Tabs */


/* Start Sublist Section */

.sublist {
  padding: 80px 0;
  background-color: $Other-color;
  img {
    margin-top: 50px;
  }
  .list-info {
    h3 {
      font-weight: bold;
      // @extend .head-border;
    }
    p {
      color: $Second-color;
      line-height: 1.5;
      margin-bottom: 40px;
      margin-left: 0px;
    }
    .list-icon {
      overflow: hidden;
      i {
        width: 50px;
        height: 50px;
        line-height: 43px;
        text-align: center;
        color: $main-color;
        border: 2px solid $main-color;
        border-radius: 50%;
        float: $float-left;
        margin-right: 30px;
        margin-top: 20px;
      }
      .info {
        float: $float-left;
        width: calc(100% - 100px);
        h4 {
          font-weight: bold;
        }
        p {
          color: $Second-color;
          // margin-left: 90px;
        }
      }
    }
  }
}

/* End Sublist Section */

/* Start Standard Picture */

.standard-picture {
  padding: 80px 0;
  background-color: $gray-color;
  .list-info {
    margin-top: 50px;
    h3 {
      font-weight: bold;
    }
    p {
      color: $Second-color;
      line-height: 1.5;
    }
    .list-icon {
      margin-top: 30px;
      p {
        color: $Second-color;
      }
    }
  }
}

/* End Standard Picture */


/* Start This Is Awesome */

.awesome {
  padding: 80px 0;
  background-color: $Other-color;
  h2 {
    text-align: center;
    @extend %textTransform;
    font-weight: lighter;
    &:after {
      margin: 30px auto;
    }
  }
  p {
    color: $Second-color;
  }
  .row {
    margin-top: 80px;
    .col-md-4 {
      i {
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        color: $main-color;
        border: 2px solid $main-color;
        border-radius: 50%;
      }
      h3 {
        font-weight: bold;
        margin: 20px 0;
      }
      p {
        line-height: 1.5;
      }
    }
  }
}

// Raleway Regular

/* End This Is Awesome */

/* Start Pricing Section */

.price-option {
  padding: 80px 0;
  background-color: $gray-color;
  h2 {
    @extend %textTransform;
    &:after {
      margin: 30px auto;
    }
  }
  p {
    color: $Second-color;
  }
  .row {
    margin-top: 80px;
    .col-md-4 {
      &:nth-child(2) > .price-box {
        margin-top: 0;
      }
      .price-box{
        background-color: $Other-color;
        margin-top: 35px;
        h3 {
          background-color: #333;
          color: $Other-color;
          padding: 20px 0;
          margin: 0;
          font-weight: bold;
          border-bottom: 2px solid $Other-color;
        }
        .option {
          background-color: #333;
          color: $Other-color;
          padding: 10px 0 20px;
          border-bottom: 5px solid $main-color;
          span.price {
            color: $Other-color;
            display: block;
            font-size: 70px;
            font-weight: bold;
            span.usd {
              font-size: 30px;
            }
          }
          span.period {
            color: $Second-color;
            font-style: italic;
            font-weight: bold;
          }
        }
        p {
          background-color: $main-color;
          color: $Other-color;
          @extend %textTransform;
          padding: 5px 10px 10px;
          font-size: 14px;
          margin-bottom: 0;
          font-weight: bold;
        }
        ul {
          li {
            padding: 10px;
            border-bottom: 1px solid $gray-color;
            @extend %textTransform;
            color: $Second-color;
            font-size: 14px;
            &:last-of-type {
              border: none;
            }
          }
        }
      }
    }
  }
}


/* End Pricing Section */

/* Start Testimonials Section */


.testimonials {
  padding: 80px 0;
  background-color: $Other-color;
  h2 {
    @extend %textTransform;
    &:after {
      margin: 30px auto;
    }
  }
  p {
    color: $Second-color;
    margin-bottom: 50px;
  }
  p.client-say {
    color: $Second-color;
    background-color: $gray-color;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 15px 15px;
      border-color: #ecebeb  transparent transparent transparent;
      position: absolute;
      left: 30px;
      bottom: -28px;
    }
  }
  .media-body {
    h4.media-heading {
      font-weight: bold;
      margin-top: 20px;
    }
  }
}


/* End Testimonials Section */


/* Start Stylish Section */

.stylish {
  background: url(../imges/stylish.png) no-repeat center top;
  background-size: cover;
  .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 60px 0;
    .container {
      h2 {
        @extend %textTransform;
        color: $Other-color;
        &:after {
          margin: 30px auto;
          background-color: $Other-color;
        }
      }
      p {
        color: $Second-color;
        margin-bottom: 30px;
      }
      button {
        background-color: transparent;
        color: $Other-color;
        padding: 10px 30px;
        border: 2px solid $Other-color;
        font-size: 15px;
      }
    }
  }
}

/* End Stylish Section */



/* Start Contact Us */

.Contact {
  padding: 80px 0;
  background-color: $Other-color;
  h2 {
    @extend %textTransform;
    &:after {
      margin: 30px auto;
    }
  }
  p {
    color: $Second-color;
    margin-bottom: 50px;
  }
  form {
    input {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc !important;
      border: none;
      box-shadow: none;
      border-radius: unset;
      &:focus {
        box-shadow: none;
      }
    }
    textarea {
      border-bottom: 1px solid #ccc !important;
      border: none;
      box-shadow: none;
      border-radius: unset;
      &:focus {
        box-shadow: none;
      }
    }
  }
  button {
    padding: 10px 25px;
    background-color: $main-color;
    border: 1px solid $main-color;
    color: $Other-color;
    border-radius: 3px;
    margin: 20px auto;
    display: block;
  }
}


/* End Contact Us */


/* Start Footer */

footer {
  width: auto;
  height: 80px;
  background-color: #000;
  color: $Other-color;
  text-align: center;
  padding: 10px;
  i {
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  p {
    color: $Second-color;
    font-size: 12px;
  }
}


/* End Footer */

